<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Whatsapp UI</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        var exports = {};
    </script>
    <script src="https://unpkg.com/speech-to-text@0.7.4/lib/index.js"></script>
    <script>
        $(function () {
            var synth = window.speechSynthesis;

            var msg = new SpeechSynthesisUtterance();
            var voices = synth.getVoices();
            msg.voice = voices[0];
            msg.rate = 1;
            msg.pitch = 1;

            $('#chatbot-form-btn').click(function (e) {
                e.preventDefault();
                $('#chatbot-form').submit();
            });
            $('#chatbot-form-btn-clear').click(function (e) {
                e.preventDefault();
                $('#chatPanel').find('.media-list').html('');
            });

            $('#chatbot-form').submit(function (e) {
                e.preventDefault();
                var message = $('#messageText').val();
                $(".media-list").append(
                    `
                        <div class="chat-r">
                            <div class="sp"></div>
                            <div class="mess mess-r">
                                <p>
                                    <!-- <img src="img/emoji-1.png" class="emoji"> -->
                                    ${message}
                                </p>
                            </div>
                        </div>
                        `
                );

                $.ajax({
                    type: "POST",
                    url: "/ask",
                    data: $(this).serialize(),
                    success: function (response) {
                        $('#messageText').val('');
                        var answer = response.answer;
                        const chatPanel = document.getElementById("chatPanel");
                        $(".media-list").append(`
                        <div class="chat-l">
                            <div class="mess">
                                <p>
                                    ${answer}
                                </p>
                            </div>
                            <div class="sp"></div>
                        </div>
                        `);
                        $(".fixed-panel").stop().animate({
                            scrollTop: $(".fixed-panel")[0].scrollHeight
                        }, 1000);

                        msg.text = answer;
                        speechSynthesis.speak(msg);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
    
	<div class="container">
		<div class="chat">
			<div class="chat-header">
				<div class="profile">
					<div class="left">
						<!-- <img src="img/arrow.png" class="arrow"> -->
						<img src="{{url_for('static', filename='img/pp.png')}}" class="pp">
						<h2>NLP chatbot</h2>
						<span>online</span>
					</div>
					<div class="right">
						<!-- <img src="img/video.png" class="icon">
						<img src="img/phone.png" class="icon">
						<img src="img/more.png" class="icon"> -->
					</div>
				</div>
			</div>
			<div class="chat-box" id="chatPanel">
                <div class="fixed-panel">
				<div class="media-list">
				</div>
            </div>
			</div>
            <form method="post" id="chatbot-form">

                <div class="chat-footer">
                    <!-- <img src="img/emo.png" class="emo"> -->
                    <textarea placeholder="Type a message" name="messageText" id="messageText" autofocus></textarea>
                    <div class="icons">
                        <!-- <img src="img/attach file.png">
                        <img src="img/camera.png"> -->
                    </div>
                    <button class="btn btn-info" type="button" id="chatbot-form-btn">Send</button>
                    <!-- <img src="img/mic.png" class="mic"> -->
                </div>
            </form>
		</div>
	</div>
	
</body>
</html>